
.bd{
    width: 1100px ;
    height: 2000px;
}

#wrapper {
    margin-left: 69px;
    width: 1100px;
    font-size: 50px;
    width: 1090px;
    }
    
   .header{
    width:1100px;
    height: 133px;
    background:#333333;
    height:133px;
    z-index: 4;
    opacity: 1;
    display: flex;
    flex-direction: row;
    }
    
   #headerInner {
    
  
    border:0px solid #333;
    width:1200px;
    height:250px;
    margin:0 auto;
    margin-top:0px;
    }

    .topMenuRight ul{
        display: flex;
        flex-direction: row;
        list-style-type:none;
        padding-top: 65px;
        padding-left: 93px;
    }

    .dotted {
        border-top: 3px dotted;
        color: #CCCCCC;
    }
  
    
   .topMenuRight ul li a{
    color:#fff;
    text-decoration:none;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    
    

    
    }
    
   .topMenuRight ul li a:hover{
    background: #fff;
    color:#555;
    }

    h2 {
        letter-spacing: -2px;
    }

    h1 {
        margin-left: 69px;
        margin-top: 41px;
        font-size: 60px;
        width: 966px;
        height: 56px;
        opacity: 1;
        letter-spacing: -2px;
        font-weight: 100;
    }

    .fc{
        margin-left: 69px;
        margin-top:45px;
        width: 1100px;
        height: auto !important;
        font-size: 34px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .tch1::before {color: #CCCCCC;
    width: 966px; 
    height: 5px;
    margin-left: 69px;
    position: absolute; 
    
}
    .tch::before{
        color: #CCCCCC;
        height: 5px;  
        margin-left: 200px; 
    }

    .flex3{
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content:space-between;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .block1{
  
        width: 337px;
        height: 331px;
        background-color: #00AEEF;
        margin-left: 67px;
        
        }
        .block2{
            width: 337px;
            height: 331px;
            background-color: #00AEEF;
            margin-left: 67px;
          }

          .block3{
          width: 337px;
          height: 331px;
          background-color: #00AEEF;
          margin-left: 67px;
          }
        
          .button{
              margin-top: 20px;
              font-family:Arial, Helvetica, sans-serif;
              background-color: #0076A3 ;
              height: 41px;
              width: 232px;
              
              
          }
    
          .tcha{
          color: #CCCCCC;
            height: 10px;   
            margin-top: 350px;  
            position: absolute;
        }


        .tchb{
            transform: rotate(90deg);
            color: #CCCCCC;
            height: 10px;   
            margin-top: 350px;  
            position: absolute;
            margin-left: 370px;
            margin-top: 590px;
        }
    
.CT{ color: #555555;
    margin-left: 69px;
    margin-top: 400px;
    font-size: 24px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;

}
          .AI{
            display: flex;
            text-align: center;
            flex-direction: column;
            margin-top: 450px;
            position: absolute;
            color: rgb(20, 19, 19);
            font-family: Arial, Helvetica, sans-serif;
          }

          .AI1{
            width: 84px;
            height: 84px;
            background-color: #CCCCCC;
            margin-left: 67px;
            
          }

          .AI2{
            margin-top: 38px;
            width: 84px;
            height: 84px;
            background-color: #CCCCCC;
            margin-left: 67px;
            
          }

          .AI3{
            margin-top: 38px;
            width: 84px;
            height: 84px;
            background-color: #CCCCCC;
            margin-left: 67px;
            
          }

.SJ{
    color:#555555;
    margin-left: 180px;
    margin-top: 450px;
    max-width: 400px;
    font-size: 14px;
    position: absolute;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


.KS{
    color:#555555;
    margin-left: 180px;
    margin-top: 570px;
    font-size: 14px;
    max-width: 400px;
    position: absolute;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


.DC{
    color:#555555;
    margin-left: 180px;
    margin-top: 695px;
    font-size: 14px;
    max-width: 400px;
    position: absolute;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.FP{
    color: #555555;
    margin-left: 599px;
    margin-top: 400px;
    font-size: 24px;
    position: absolute;
}

.omc{
    color:#888888;
    margin-left: 599px;
    margin-top: 440px;
    font-size: 20px;
    position: absolute;
    text-align: left;
}

    .logo{
        position:absolute;
        margin-top: 1030px;
        margin-left: 599px;
        left:0px;
        top:190px;
        }

    .shi{
        text-align: left;
        position:absolute;
        margin-top: 1250px;
        margin-left: 598px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        left:0px;
        top:190px;
        color: #555555;}

        .sl{
            color: #00AEEF;
            position:absolute;
            margin-top: 1330px;
            margin-left: 598px;
            margin-right: 75px;
            left:0px;
            top:190px;
            font-size: 14px;
        }


    #footer{
        margin-top:800px;
        margin-left: 64px;
        margin-right: 70px;
        height:5px;
        width:966px;
        color:#CCCCCC ;
        text-align: left;
        font-size: 30px;
        position: absolute;
    }

   


    #footerInner{
        margin-left: 69px ;
        height:16px;
        width:500px;
        color: #888888;
        font-size: 16px;
        position: absolute;
        
    }